version: 2.1
orbs:
  node: circleci/node@5.0.2
  heroku: circleci/heroku@2.0
jobs:
  build:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run build
  test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm run test
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/deploy-via-git:
          force: true
          app-name: ${HEROKU_APP_NAME}
workflows:
  build-and-test-and-deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: fix/remove-steps-in-CI
